input {
  border-radius: 0.3rem;
  border: solid 1px gray;
  padding: 0.5rem 0.7rem;
}

input::placeholder {
  font-size: 14px;
  font-weight: 600;
}

.loginContainer {
  min-height: 38rem;
  display: flex;
  font-family: Okra, Helvetica, sans-serif;
  background-image: url("/src/Assets/Images/login-background.png");
  background-size: cover;
  flex-direction: column;
  justify-content: center;
}

.loginContainer p,
.loginContainer h1,
.loginContainer label {
  color: white;
}

.loginBox {
  display: flex;
  align-items: center;
  height: 23rem;
  width: 80vw;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.7rem;
}

.loginBox > div {
  width: 100%;
}

.loginBox {
  padding: 20px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.loginForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem auto;
  width: 80%;
}

.LoginBtn,
.signupBtn {
  /* height: 2rem; */
  min-width: 20rem;
  border: none;
  border-radius: 0.5rem;
  margin: 0.4rem;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}

.signupBtn {
  background-color: #ee5b47;
}
.LoginBtn {
  background-color: #b7c8d3;
  color: #181d28;
  font-weight: 600;
}

.continueWith {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.continueWith hr {
  min-width: 30%;
  margin: auto;
  background-color: #fff;
  border: none;
  height: 1px;
}

.loginLogo {
  height: 3rem;
  margin: 0 1rem;
}
