.containerSkeleton {
  border: solid 2px grey;
  border-radius: 0.5rem;
  background: lightgray;
  padding: 0.7rem;
}

.itemImageSkeleton {
  height: 7rem;
  background-color: gray;
  border-radius: 0.3rem;
  border: gray 3px solid;
  padding: 0.5rem;
  margin: auto;
}

.fillDiv {
  height: 0.6rem;
  background: gray;
  margin: 0.5rem;
}

.buttonSkeleton {
  height: 1.3rem;
  background-color: gray;
  border-radius: 0.3rem;
  border: gray 3px solid;
  padding: 0.5rem;
  margin: auto;
}
