* {
    font-family: Lato;
    margin: 0;
    padding: 0;
}


h1, h3, h4, p{
    padding: .5rem;
}

nav{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: .6rem;
    box-shadow: 0rem 0rem .2rem black;
}

nav ul{
    display: flex;
}

li{
    margin: auto 1rem;
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
}

.name{
    font-size: 1.5rem;
}

.designation{
    color: #142B55;
    font-weight: 900;
    text-transform: uppercase;
}

.container{

    display: flex;
    margin: 0rem auto;
    /* margin-top: 5rem; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://plus.unsplash.com/premium_photo-1675804669860-9e27f22b0681?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    /* border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3); */
}

.container h1{
    color: white;
}

.card{
    max-width: 870px;
    min-width: 97%;
    /* margin: auto .5rem; */
}



hr{
    height: 0.2rem;
    /* display: inline; */
    /* align-self: center; */
    width: 5rem;
    border: none;
    background-color: rgb(0, 191, 255);

}

img{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    box-shadow: .3rem -.3rem 0 rgb(0, 122, 163);
}

i{
    color: #142B55;
    padding: .4rem;
    margin-top: .5rem;
    font-size: 1.2rem;
    border-radius: 50%;
}

i:hover{
    background-color: lightgrey;

}

.testimonial{

    background-color: white;
    margin: 2rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3);

}

.quote{
    font-size: 1.5rem;
    position: absolute;
    top: 10rem;
    left: 44%;
    color: white;
    background-color: rgb(0, 122, 163);
    padding: .7rem;
}

.quote:hover{
    background-color: rgb(0, 122, 163); 
}

@media (max-width: 425px){
    .container h1{
        font-size: 1.7rem;
    }

    .container{
        padding: 2rem .3rem;
    }

    p{
        font-size: smaller;
    }
}
