.container {
  margin: 2rem 0;
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
  min-height: calc(100vh - 14.05rem);
}

.cartContainer {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: ; */
  gap: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 0.2rem gray;
  border-radius: 1rem;
}

.cartContainer hr {
  margin: 1rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0rem 0.3rem 0rem gray;
  padding: 1rem;
  border-radius: 0.3rem;
  text-align: left;
  gap: 0.6rem;
  margin: 1rem;
}

.itemTable {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
}

.tableContainer {
  display: grid;
  gap: 1rem;
}

.totalDetails {
  padding: 0 1rem;
}

.checkoutBtn {
  margin: 1rem 0;
  width: 100%;
  border-radius: 0.5rem;
}
