.login-logo {
  height: 3rem;
  margin: auto 1rem;
  cursor: pointer;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #48992d;
}

.navLogo,
.menu,
.navLogo h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

.menu a {
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
}

.navLogo img {
  border-radius: 50%;
  height: 3rem;
}

button {
  background-color: #cc3333;
  padding: 0.15rem 1.5rem;
  border-radius: 0.3rem;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
