.container {
  padding: 1rem;
}

.detailsContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.imageContainer {
  height: 20rem;
  border-radius: 1rem;
}

.restaurantDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.line {
  height: 1rem;
}

.button {
  height: 2.5rem;
  border-radius: 0.4rem;
  width: 10rem;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.menuHeading {
  height: 2rem;
  width: 50vw;
  margin: auto;
}

.searchBar {
  height: 3rem;
  width: 70vw;
  margin: auto;
}

.menuItemsContainer {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e5e5e5;
  }
  100% {
    background-color: #d5d5d5;
  }
}
