.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Mukta";
  src: url(./Assets/Fonts/Signika/Signika-Light.ttf);
  /* padding: 0; */
}

* {
  font-family: "Mukta";
}

body {
  margin: 0;
}

.dark {
  background: linear-gradient(to right top, #000000, #434343);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background: linear-gradient(#fea636, #f26323);
  padding: 1rem 2rem;
}
.dark .header {
  background: linear-gradient(to bottom, #da22ff, #9733ee);
}

.navmenu {
  font-weight: 500;
}

.navitem {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

.container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

.profile {
  border: solid 2px #28223f;
  border-radius: 0.5rem;
  color: #28223f;
  background: #e0e0e0;
  padding: 0.7rem;
  box-shadow: 0.1rem 0.1rem 0.5rem gray;
}

.dark .profile {
  border: solid 3px #da22ff;
  color: white;
  background: #292929;
  box-shadow: none;
}

.profile p {
  font-weight: 600;
}

.dark .profile p {
  font-weight: 500;
}

.userProfilePic {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: #28223f 3px solid;
  padding: 0.5rem;
  margin: auto;
  /* box-shadow: 0rem 0rem 0.3rem gray; */
}

.dark .userProfilePic {
  border: #da22ff 3px solid;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  padding: 0.3rem 1rem;
  gap: 0.5rem;
  justify-content: center;
}

.skill {
  border: solid #28223f 1px;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.dark .skill {
  border: solid white 1px;
}

.customize {
  display: grid;
  color: white;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 0rem;
  background: #2e2847;
  border-radius: 0.5rem;
  border: solid 2px;
}

.dark .customize {
  background: #1f1f1f;
  border: solid 2px #da22ff;
}

.fav {
  font-size: 1.5rem;
  color: red;
}

.editIcon {
  font-size: 1.3rem;
}

.popup {
  min-width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: solid lightgrey 0.5rem;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  z-index: 2;
}

.dark .popup {
  background: #292929;
  color: white;
}

.closePopup {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

input {
  border: solid black 1px;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  width: 100%;
  overflow: hidden;
}

.inputForm {
  padding: 1rem;
  display: flex;
  gap: 0.3 rem;
  flex-direction: column;
}

.submitDetailsButton {
  background: #28223f;
  color: white;
  margin: 1rem 0;
  padding: 0.3rem;
  width: inherit;
  margin-right: -18px;
}

.dark .submitDetailsButton {
  background: #da22ff;
  margin-right: -18px;
}

.blurBG {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(128, 128, 128, 0.411);
  position: fixed;
  z-index: 1;
}

.profileSkeleton {
  border: solid 2px grey;
  border-radius: 0.5rem;
  color: white;
  background: lightgray;
  padding: 0.7rem;
}

.userProfilePicSkeleton {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: gray 3px solid;
  padding: 0.5rem;
  margin: auto;
}

.fillDiv {
  height: 1rem;
  background: gray;
  margin: 0.5rem;
}

.skillSkeletonContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem;
}

.searchBar {
  width: 10rem;
}

.switch {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  width: 2rem;
}

.cursor {
  cursor: pointer;
}

.userDetail {
  padding: 2rem;
  height: 77.9vh;
}

.userDetailContainer {
  border: solid 2px #28223f;
  border-radius: 0.5rem;
  color: #28223f;
  background: #e0e0e0;
  padding: 0.7rem;
  box-shadow: 0.1rem 0.1rem 0.5rem gray;
  width: 70vw;
  margin: 0rem auto;
}

.dark .userDetailContainer {
  border: solid 3px #da22ff;
  color: white;
  background: #292929;
  box-shadow: none;
}

.userDetailContainer i {
  font-size: 1.5rem;
}

.dark .userDetailContainer i {
  color: #da22ff;
}

.displayDetails {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem;
  margin-top: 2.5rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .popup {
    min-width: 70vw;
    height: 100vh;
  }
}
@media (max-width: 580px) {
  .container {
    grid-template-columns: 1fr;
  }
}
