:root {
  --primary-color: #f4f1ec;
  --secondary-color: #e4e0da;
}

* {
  font-family: "Mukta";
  color: #041f3a;
  margin: 0;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #041f3a;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  border-radius: 0.3rem;
  border: solid 1px gray;
  padding: 0.5rem 0.7rem;
}

input::placeholder {
  font-size: 14px;
  font-weight: 600;
}

.login-container {
  min-height: 38rem;
  display: flex;
  font-family: Okra, Helvetica, sans-serif;
  /* background-color: var(--secondary-color); */
  background-image: url("/src/Assets/Images/login-background.png");
  background-size: cover;
  flex-direction: column;
  /* padding: 1rem; */
  justify-content: center;
}

.login-container p,
.login-container h1,
.login-container label {
  color: white;
}

.login-box {
  display: flex;
  align-items: center;
  height: 23rem;
  width: 80vw;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.7rem;
}

.login-box > div {
  width: 100%;
}

.login-box {
  padding: 20px;
  background: rgba(255, 255, 255, 0.15); /* Transparent background color */
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  backdrop-filter: blur(10px);
}

.login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem auto;
  width: 80%;
}

.LoginBtn,
.signupBtn {
  /* margin: auto; */
  height: 2rem;
  min-width: 20rem;
  /* max-width: 15rem; */
  border: none;
  border-radius: 0.5rem;
  margin: 0.4rem;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.signupBtn {
  background-color: #ee5b47;
}
.LoginBtn {
  background-color: #b7c8d3;
  color: #181d28;
  font-weight: 600;
}

.continue-with {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.continue-with hr {
  min-width: 30%;
  margin: auto;
  background-color: #fff;
  border: none;
  height: 1px;
}
